@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;padding: 0;
    outline: none;border: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 7%;
    background: #eee;
    min-height: 100vh;
    gap: 15px;
    padding-bottom: 80px;
}
.container .content {
    flex: 1 1 400px;
}
.container .image {
    flex: 1 1 400px;
}

.container .image img{
    width: 100%;

}
.container .content .title{
    font-size: 45px;
    text-transform: uppercase;
    color: #2980b9;
}
.container .content p{
    color: #666;
    padding: 5px 0;   
}

.container .content .count-down {
    display: flex;
    gap: 1.5rem;
    padding: 1.5rem 0;
}

.container .content .count-down .box {
    padding: .5rem;
    background: #fff;
    border: 1px solid #3333;
    text-align: center;
    flex: 1 1 20px;
}

.container .content .count-down .box h3 {
    font-size: 5rem;
    color: #333;
}
.container .content .count-down .box span {
    color: #2980b9;
    font-size: 1.5rem;
}
.container .content .btn {
    display: inline-block;
    padding:8px 50px;
    margin: 1.2rem 0;
    font-size: 17px;
    background: #2980b9;
    color: #fff;
    transition: .2s ease-out;
}
.container .content .btn:hover {
    letter-spacing: 2px;
}












@media (max-width:500px) {
    .container{
        padding: 5px;
    }
    .container .content {
        text-align: center;
    }
    .container .content .title {
        font-size: 35px;
    }
    .container .content p {
        font-size: 14px;
    }
    .container .content .count-down .box {
        gap: 1px;    
    }
    .container .content .count-down .box h3{
        font-size: 30px;
    }
    .container .content .count-down .box span{
        font-size: 15px;
    }
}
